*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
}
 h1{
    border: 2px solid black;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}
main{
    width:vw;
    font-size: 2rem;
    background-color: aqua;
}
p{
    font-size: 2rem;
   width: 40ch;
}